.session-owner {
  border: 2px solid #FBBF24; /* yellow-400 */
}

.session-joined {
  background-color: rgba(147, 51, 234, 0.1); /* bg-purple-100/50 */
  border: 2px solid #D8B4FE; /* border-purple-300 */
}

.session-joined:hover {
    background-color: rgba(147, 51, 234, 0.2);
}

.session-joined .session-world {
  color: #7E22CE; /* text-purple-700 */
}

.session-admin-joined {
    background-color: rgba(147, 51, 234, 0.1); /* bg-purple-100/50 */
    border: 2px solid #D8B4FE; /* border-purple-300 */
}

.session-admin-joined:hover {
    background-color: rgba(147, 51, 234, 0.2);
}

.session-default:hover {
  background-color: hsl(var(--muted) / 0.5);
}





.day-box {
    border-radius: 0.5rem;
    min-height: 8rem;
}

.day-box.day-box-owner {
    border: 2px solid #FBBF24; /* yellow-400 */
}

.day-box.day-box-joined {
    border: 2px solid #D8B4FE; /* border-purple-300 */
    background-color: rgba(147, 51, 234, 0.1); /* bg-purple-100/50 */
}

.day-box-header {
    padding: 0.5rem;
    font-weight: 600;
    border-bottom: 1px solid hsl(var(--border));
    background-color: var(--muted); /* 1 tone lighter than --muted */
}

.day-box-content {
    padding: 0.5rem;
}
