.session-owner {
  border: 2px solid #FBBF24; /* yellow-400 */
}

.session-owner .session-world {
  color: #FBBF24; /* yellow-400 */
}

.session-joined {
  background-color: rgba(16, 185, 129, 0.1); /* bg-green-100/50 */
  border: 2px solid #6EE7B7; /* border-green-200 */
}

.session-joined:hover {
    background-color: rgba(16, 185, 129, 0.2);
}

.session-joined .session-world {
  color: #047857; /* text-green-700 */
}

.session-default:hover {
  background-color: hsl(var(--muted) / 0.5);
}
